img{
    width: 80vmin;
    height: 80vmin;
}

div{
    display: flex;
    justify-content: center;
}

h1{
    color: rgb(104, 9, 96);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}