.grid-container{
    margin: 5px;
    display: grid;
    float: left;
    clear: right;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 30vmin;
    height: 30vmin;
}

button{
    background-color: rgb(104, 9, 96);
    border: black;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    width: 32vmin;
    text-overflow: ellipsis;
    box-sizing: border-box;
}