.grid-container{
    margin: 5px;
    display: grid;
    float: left;
    clear: right;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}